body{
    background:hsl(212, 45%, 89%);
}
.qr-code-scaner-box{
    width: 350px;
    height:530px;
    border:1px solid rgb(226, 226, 226);
    background:#fff;
    border-radius: 20px;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}
.image-box{
    text-align:center;
}
.image-box img{
    border-radius: 10px;
    margin-top: 25px;
}
.text-box{
    text-align: center;
    margin-bottom: 50px;
}
.text-box h2{
    width: 300px;
    margin: 20px auto;
    color:hsl(218, 44%, 22%);
}
.text-box p{
    width:290px;
    margin:auto;
    color:hsl(216, 15%, 48%);
    font-size: 15px;
}