body{
    margin:0;
}
.qr-code-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: hsl(212, 45%, 89%);

}
.qr-code-scanner{
    width:300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}
.qr-code-scanner .qr-code-image{
    display: flex;
    justify-content: center;
    margin-top:25px;
}
.qr-code-scanner img{
    width:250px;
    border-radius: 5px;
    
}